@media (min-width:320px) and (max-width:575px) {
    element.style {
        gap: 15px;
    }
    .navbarbtn {
        margin-top: 20px;
 
    }
    #banner h1 {
        font-size: 35px;
        line-height: 65px;
   
    }
    #banner {
  
        padding: 80px 0;
    
    }
    img, svg {
        width: 100%;
      
    }
    .navbar-brand img{
    }
    #banner img {

        margin-top: 40px;
    }
    .title_heading {
        font-size: 25px;
     
    }
    .title_subheading {
        line-height: 25px;
    }
    .services_item {

        padding: 35px 15px;
        height: 100%;
  
    }
    .servicesitiemwrapper {
        row-gap: 20px;
    }
    #teammember .row{
        gap: 20px;
    }
    .customar__title_heading {
        font-size: 30px;
        max-width: auto;
    }
}